## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPY_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,46.09,80,9,0.65,clear sky
1,1,Ulladulla,AU,-35.3500,150.4667,65.88,71,21,9.19,few clouds
2,2,San Juan,AR,-31.5375,-68.5364,74.73,25,49,3.29,scattered clouds
3,3,Shakiso,ET,5.7500,38.9167,54.10,92,37,3.65,scattered clouds
4,4,Tevaitoa,PF,-16.7833,-151.5000,77.34,76,67,19.17,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>= min_temp) & (city_data_df["Max Temp"]< max_temp)]
filtered_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Tevaitoa,PF,-16.7833,-151.5000,77.34,76,67,19.17,broken clouds
5,5,Faanui,PF,-16.4833,-151.7500,77.63,78,38,18.34,moderate rain
7,7,Puerto Ayora,EC,-0.7393,-90.3518,76.96,87,71,11.01,broken clouds
8,8,Hithadhoo,MV,-0.6000,73.0833,82.92,72,9,10.31,clear sky
11,11,Cabo San Lucas,MX,22.8909,-109.9124,81.95,86,100,1.99,overcast clouds
13,13,Am Timan,TD,11.0297,20.2827,75.09,91,81,2.44,broken clouds
32,32,Manicore,BR,-5.8092,-61.3003,78.75,89,0,3.44,clear sky
33,33,Mahroni,IN,24.5862,78.7288,75.07,91,100,6.64,overcast clouds
34,34,Cayenne,GF,4.9333,-52.3333,82.09,83,0,1.99,clear sky
40,40,Fortuna,US,40.5982,-124.1573,83.43,65,1,3.00,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
filtered_cities_df.count()

Unnamed: 0             209
City                   209
Country                209
Lat                    209
Lng                    209
Max Temp               209
Humidity               209
Cloudiness             209
Wind Speed             209
Current Description    209
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Tevaitoa,PF,77.34,broken clouds,-16.7833,-151.5000,
5,Faanui,PF,77.63,moderate rain,-16.4833,-151.7500,
7,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,
8,Hithadhoo,MV,82.92,clear sky,-0.6000,73.0833,
11,Cabo San Lucas,MX,81.95,overcast clouds,22.8909,-109.9124,
13,Am Timan,TD,75.09,broken clouds,11.0297,20.2827,
32,Manicore,BR,78.75,clear sky,-5.8092,-61.3003,
33,Mahroni,IN,75.07,overcast clouds,24.5862,78.7288,
34,Cayenne,GF,82.09,clear sky,4.9333,-52.3333,
40,Fortuna,US,83.43,clear sky,40.5982,-124.1573,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get (base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping")
hotel_df.head(10)

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Tevaitoa,PF,77.34,broken clouds,-16.7833,-151.5000,Hôtel Raiatea Lodge
5,Faanui,PF,77.63,moderate rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Hithadhoo,MV,82.92,clear sky,-0.6000,73.0833,Scoop Guest House
11,Cabo San Lucas,MX,81.95,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
13,Am Timan,TD,75.09,broken clouds,11.0297,20.2827,Palais du chef Canton Salamt
32,Manicore,BR,78.75,clear sky,-5.8092,-61.3003,Hotel Durval
33,Mahroni,IN,75.07,overcast clouds,24.5862,78.7288,Sahu Samaj Dharmashala
34,Cayenne,GF,82.09,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
40,Fortuna,US,83.43,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   209
Country                209
Max Temp               209
Current Description    209
Lat                    209
Lng                    209
Hotel Name             209
dtype: int64

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} & {Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))